.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 6rem;
    padding-left: 50px;
}
.features__head h1{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin-bottom: 1rem;
}
.features__head p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    margin-bottom: 2rem;
}
.features__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1050px) {
    .features__content .feature__content-item{
        flex-basis: 45%;
        /* margin-left: 150px; */
        
    }
    
}

@media screen and (max-width: 650px) {
    .features__content .feature__content-item{
        flex-basis: 100%;
        /* margin-left: 150px; */
        width: 350px;
    }
   
}

@media screen and (max-width: 490px) {
     
     
}
