@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: smooth;

}
button{
    cursor: pointer;
}
html, body {
   
    height: 100%;
    width: 100%;
}
body{
    background: var(--color-bg);
    font-family:  "Libre Franklin", sans-serif;
}
a{
    color: unset;
    text-decoration: none;
}
.Features{
    margin-left: auto;
    margin-right: auto;
}